* {
  margin: 0;
  padding: 0;
  font-family: "Japandi", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e9e3d5;
  color: #262626;
}

.about-text {
  font-family: "Poppins", sans-serif;
}

.main-wrap {
  width: 100%;
  display: flex;
}

/* Nav Bar */

.main-wrap .main-head {
  width: 300px;
  padding: 30px 0;
  background: #f3f0e8;
  height: 100%;
  position: fixed;
}

.main-wrap .main-head .main-nav {
  width: 100%;
}

.main-wrap .main-head .main-nav .navbar {
  width: 100%;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .title {
  height: 520px;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .title h2 {
  font-size: 30px;
  font-weight: normal;
  display: block;
  color: #262626;
  text-align: center;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list {
  text-align: center;
  font-size: 22px;
  list-style: none;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list li {
  padding: 2px;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list a {
  text-decoration: none;
  color: #262626;
  font-weight: normal;
}

.main-wrap .showcase {
  flex-grow: 1;
  width: calc(100%-300px);
  margin-left: 300px;
  box-sizing: border-box;
}

/* Right side content */

/* Home */

.home {
  background: url(images2/background.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.line {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.nav-line {
  width: 40%;
  margin: 8px auto;
  margin-bottom: 480px;
}

/* About */

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.about-col-1 {
  flex-basis: 50%;
  margin-left: 100px;
  margin-top: 70px;
}

.about h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1;
  margin-bottom: 50px;
}

.about-col-1 img {
  width: 100%;
}

.about-col-2 {
  flex-basis: 50%;
  text-align: justify;
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
  box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.1);
  background-color: #f3f0e8;
}

.about-col-2:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.about-col-2 p {
  font-size: 15px;
}

/* Process */

#process {
  font-size: 20px;
}

.steps {
  font-weight: bold;
}

ul {
  font-weight: normal;
}

.process-column {
  display: flex;
}

.column1 {
  flex: 50%;
  padding-left: 200px;
  text-align: justify;
}

.column2 {
  flex: 60%;
  padding-left: 200px;
  padding-right: 80px;
  text-align: justify;
}

.column2 ol {
  counter-reset: list-counter 6;
}

.process h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1;
  margin-bottom: 50px;
}
.process-list ol {
  list-style-type: none;
}

.process-list ol > li {
  counter-increment: list-counter;
  margin-bottom: 10px;
}

.process-list ol > li::before {
  content: counter(list-counter) ".";
  font-weight: bold;
  margin-right: 5px;
}

.process-list ul {
  margin-top: 0;
  padding-left: 20px;
}

.process-list ul li {
  list-style-type: disc;
}

/* Services */

#services h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1;
  margin-bottom: 50px;
}

.services {
  display: flex;
  justify-content: center;
}

.services-left {
  flex: 50%;
  font-weight: bold;
}

.services-left {
  text-align: center;
}

.services-list {
  display: inline-block;
  text-align: left;
}

.services-list .p2 {
  padding-top: 82px;
}
.services-list .p3 {
  padding-top: 82px;
}
.services-list .p4 {
  padding-top: 82px;
}
.services-list .p5 {
  padding-top: 62px;
}
.services-list .p6 {
  padding-top: 61px;
}
.services-list .p7 {
  padding-top: 42px;
}

.services-details {
  flex: 50%;
  font-size: 17.5px;
  padding-right: 35px;
  text-align: justify;
}

.services-details p {
  margin-bottom: 20px;
}

/* Feedback */

.feedback {
  width: 100%;
  text-align: center;
}

.top-feedback h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1;
  margin-bottom: 50px;
}

.feedback-grid {
  width: 100%;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
  padding-right: 35px;
  padding-left: 35px;
}

.card {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  background: #fff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: backround 0.5s, transform 0.5s;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.card i {
  font-size: 2.5rem;
  background: linear-gradient(45deg, #ffd700, #daa520);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.card p {
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #262626;
}

.card hr {
  width: 40px;
  margin: auto;
}

.card .name {
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #262626;
  transition: 0.3s;
}

/* Portfolio */

.line2 {
  width: 20%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.portfolio {
  width: 100%;
}

.portfolio h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1;
  margin-bottom: 50px;
}

.portfolio h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 1;
  margin-bottom: 50px;
}

.work img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.work-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 30px;
}

.work-grid-img {
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.work-grid-img:hover .image-container img {
  transform: scale(1.1);
}

.layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #f3f0e8);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  color: #262626;
}

.work-grid-img:hover .image-container .layer {
  height: 10%;
}

/* Contact */

#contact h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1;
  margin-bottom: 50px;
}

.contact-left {
  flex-basis: 40%;
  padding-left: 35px;
}

.contact-right {
  flex-basis: 55%;
  padding-right: 35px;
}

.contact-left {
  margin-top: 9px;
}

.contact-text {
  font-size: 20px;
  text-align: justify;
}

.contact-details {
  margin-top: 77px;
}

.contact-details2 {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: justify;
}

.contact-left p i {
  color: #262626;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 28px;
  margin-right: 38px;
  color: #262626;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ababab;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #fff;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #fff;
  padding: 15px;
  margin: 15px 0;
  color: #262626;
  font-size: 18px;
}

form .btn {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}

/* Copyright */

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #f3f0e8;
  font-weight: 300;
  margin-top: 20px;
}

.gotop2 {
  display: none;
}

/* CSS for small screen */

@media screen and (max-width: 768px) {
  .main-wrap .main-head {
    display: none;
  }

  .main-wrap {
    display: block;
  }
}
