* {
  margin: 0;
  padding: 0;
  font-family: "Japandi", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f3f0e8;
  color: #262626;
}

.about-text {
  font-family: "Poppins", sans-serif;
}

.main-wrap {
  width: 100%;
  display: flex;
}

.main-wrap .main-head {
  width: 300px;
  padding: 30px 0;
  background: #f3f0e8;
  height: 100%;
  position: fixed;
}

.main-wrap .main-head .main-nav {
  width: 100%;
}

.main-wrap .main-head .main-nav .navbar {
  width: 100%;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .title {
  height: 550px;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .title h2 {
  font-size: 30px;
  font-weight: normal;
  display: block;
  color: #262626;
  text-align: center;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list {
  text-align: left;
  font-size: 22px;
  list-style: none;
  padding-left: 45px;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list li {
  padding: 2px;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list a {
  text-decoration: none;
  color: #262626;
  font-weight: normal;
}

.main-wrap .showcase {
  flex-grow: 1;
  width: calc(100%-300px);
  margin-left: 300px;
  box-sizing: border-box;
}

.home {
  background: url(images2/background.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.line {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.nav-line {
  width: 40%;
  margin: 8px auto;
  margin-bottom: 480px;
}

/* About */

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.about-col-1 {
  flex-basis: 50%;
  margin-left: 100px;
  margin-top: 70px;
}

.about h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1;
  margin-bottom: 50px;
}

.about-col-1 img {
  width: 100%;
}

.about-col-2 {
  flex-basis: 50%;
  text-align: justify;
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
  box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.1);
  background-color: #f3f0e8;
}

.about-col-2:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.about-col-2 p {
  font-size: 15px;
}

/* Feedback */

.feedback {
  width: 100%;
  text-align: center;
}

.top-feedback h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1;
  margin-bottom: 50px;
}

.feedback-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background: #fff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: backround 0.5s, transform 0.5s;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.card i {
  font-size: 2.5rem;
  color: gold;
}

.card p {
  font-size: 1rem;
  font-weight: 500;
  color: #262626;
}

.card hr {
  width: 40px;
  margin: auto;
}

.card .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #262626;
  transition: 0.3s;
}

/* Portfolio */

.line2 {
  width: 20%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.portfolio {
  width: 100%;
}

.portfolio h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1;
  margin-bottom: 50px;
}

.portfolio h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 1;
  margin-bottom: 50px;
}

.work img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 30px;
}

.work-grid-img {
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.work-grid-img:hover .image-container img {
  transform: scale(1.1);
}

.layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #f3f0e8);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  color: #262626;
}

.work-grid-img:hover .image-container .layer {
  height: 10%;
}
